.Footer{
    background-color: black;
    color: white;
  }
 
  .Nav {
    display: flex;
    justify-content: space-around;
    margin: 0 5rem ;
  }
  .CustomLink{
    color: #495E57;
    text-decoration: none;
    font-weight: bold;
  }
  .CustomLink:hover{
    color: #F4CE14;
  }
  