.Footer{
    background-color: black;
    color: white;
  }
 
  .Nav {
    display: flex;
    justify-content: space-around;
    margin: 0 5rem ;
  }
  .CustomLink{
    color:red;
    text-decoration: none;
  }